.messageSection{
    display: flex;
    justify-content: center;
    margin:4em 0em;
    /* height: 90vh; */
    /* overflow-y: scroll; */
}

.container{
    display: grid;
    grid-template-columns: 12;
    gap: 10px;
    padding: 1rem;
    width: 700px;
    font-size: small;
}

.rowLeft{
    grid-column-start: 1;
    grid-column-end: 8;
}

.rowRight{
    grid-column-start: 6;
    grid-column-end: 12;
}

@media screen and (max-width:400px) {
    .rowLeft{
        grid-column-start: 1;
        grid-column-end: 10;
    }
    
    .rowRight{
        grid-column-start: 3;
        grid-column-end: 12;
    }
}

.left{
    display: flex;
}

.right{
    display: flex;
    flex-direction: row-reverse;
}

.left .message{
    background-color: rgb(47, 73, 129);
    border-radius: 5px;
    min-width: 80px;
    overflow: hidden;
}

.right .message{
    background-color: rgb(14, 104, 177);
    border-radius: 5px;
    padding: 5px ;
    min-width: 80px;
    overflow: hidden;
}

.message span{
    padding: 5px;
}

.userName {
    background-color:rgb(38, 61, 114);
    margin-bottom: 2px;
    padding: 2px 0px;
    color: rgb(76, 164, 237);
    font-size: small;
    font-weight: 600;
}

.time{
    display: flex;
    justify-content: end;
    font-size: x-small;
    color: rgb(181, 181, 181);
    margin-top: 2px;
}