:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #1f2937 0.5px);
  background-size: 10px 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 380px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
